#ignore thumbnails created by windows
Thumbs.db
*.orig
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.~ml
~*
.orig
ModulePackage.js
*_view.js
*Tests.xml
*Test.xml
*coverage.dat
Coverage/
*func*.html
*sort*.html
*gcov.html
TEST-*



